<div class="row index_page top-container-100 explore-container">
	<div class="explore">
		<div class="col-sm-12 col-md-12">
			<div class="explore-title">
				<h4>DISCOVER PEOPLE</h4>
			</div>
		</div>
		<% @users_to_follow.each do |user| %>
			<div class="col-sm-12 col-md-12">
				<div class="explore_user_info">
					<%= user_explore_avatar(user) %>
					<p class="bt user-username"><%= link_to user.username, profile_path(user.id) %></p>
					<div class="fbtn">
						<%if current_user.id != user.id %>
							<center class="follow_btn">
							<%if !current_user.following?(user)%>
									<%= form_for(current_user.active_relationships.build,remote: true) do |f| %>
										<%= hidden_field_tag :followed_id, user.id %>
										<%= f.submit "Follow", class: 'btn btn-info modal-following' %>
									<%end%>
								<%else%>
									<%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
												html: {method: :delete}) do |f| %>
										<%= f.submit "Unfollow", class: 'btn modal-following' %>
									<%end%>
							<%end%>
							</center>
						<%end%>
					</div>
				</div>
				<div class="explore-user-posts">
					<% if user.posts.present? %>
						<% user.posts.each do |post| %>
							<div class="explore-post-image">
								<%= cl_image_tag(post.picture, alt: "img" ,quality: "auto", class: "img-responsive", height: 185, crop: "scale") %>
							</div>
						<% end %>

					<%else%>
					<div class="no-posts">
						<h5>No posts yet.</h5>
					</div>
					<%end%>
				</div>
			</div>
		<%end%>	
	</div>
</div>
