<div class="container">
  <div class="row top-container">
    <div class="col-sm-12 col-md-12 pop-up ">
	    <center> 	
			<%= simple_form_for @post do |f| %>
			  <%= f.input :picture %>
			  <%= f.hidden_field :picture_cache%>
			  <%= f.input :caption %>
			  <%= f.button :submit %>


			<% end %>
	    </center>
		</div>
	</div>
</div>
