<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'favicon.ico' %>
    <title>Instagrrram</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300i,400" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
    <%= yield :profile %>
  </head>

  <body>
  <%= render 'layouts/navbar' %>
	  <% flash.each do |name, msg| %>
	    <%= content_tag :span, msg, class: [:alert, alert_for(name)] %>
	  <% end %>
	  <%= yield %>
  </body>
</html>
